.Rhistory
.RData
.Rproj.user
01-ProbSubjetiva.RmdOLD
02-IntroBayes.RmdOLD
06-references.RmdOLD
Notas_InfBayesTudo.NOT
Notas_InfBayes.NOT
index.RmdOLD
write-test-7a2204d4-212a-49d2-aff5-81f3cca6e767
Rascunhos/**
docs_velho/**
